.App {
  text-align: center;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table .even-row {
  background-color: #e6e6e6;
}

.product-table .odd-row {
  background-color: #f9f9f9;
}

